
@{
    ViewData["Title"] = "Login";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login Correo</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-10">
                <form action="Correo/Iniciar_sesion" method="post">
                    <input type="text" name="correo" placeholder="ejemplo@edison.com" class="form-control" />
                    <input type="text" name="clave" value="" class="form-control" />
                    <input type="submit" name="name" value="Iniciar Sesion" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>



