
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login Correo</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-5">
                <h3>Inciar Sesion</h3><hr />
                <p>Bienvenido a Edison Mail, el nuevo provedor de correos</p>
                <form action="Correo/Iniciar_Sesion" method="post">
                    <input type="text" name="correo" value="" class="form-control" placeholder="ejemplo@edison.com" /><br />
                    <input type="password" name="clave" value="" class="form-control" /><br />
                    <input type="submit" name="name" value="Iniciar Sesion" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>

